{% set rootPage = backendVars.activeWebsite.rootPage %}
{% if menu.pages|length > 0 %}
  <ul class="tree-list accordion" id="sidebarTreeWebsite{{ menu.id }}">
    {% for page in menu.pages %}
      {% set iconToggle = '' %}
      {% set iconMain = 'description' %}
      {% set iconActive = 'visibility_off' %}

      {% if page.pages|length > 0 %}
        {% set iconToggle = 'add' %}
        {% set iconMain = 'folder' %}
      {% endif %}

      {% if page == rootPage %}
        {% set iconMain = 'home' %}
        {% set iconActive = '' %}
      {% endif %}

      {% if page.isActive %}
        {% set iconActive = 'visibility' %}
      {% endif %}

      <li class="list-item" data-id="{{ page.id }}">

        <div class="item-options">

          <div class="item-icon icon-toggle">
            <span class="material-icons" data-toggle="collapse" data-target="#collapseWeb{{ page.id }}">{{ iconToggle }}</span>
          </div>

          <div class="item-icon icon-sort">
            <span class="material-icons">unfold_more</span>
          </div>

          <div class="item-icon icon-active">
            <span class="material-icons -action" data-action="active" data-id="{{ page.id }}">{{ iconActive }}</span>
          </div>

          <div class="item-icon icon-settings">
            <span class="material-icons" id="dropdownMenuButton{{ page.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">settings</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ page.id }}">
              <div class="dropdown-item -action" data-action="add" data-id="{{ page.id }}">
                <span class="material-icons">add</span> Add
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item -action" data-action="edit" data-id="{{ page.id }}">
                <span class="material-icons">edit</span> Edit
              </div>
              {% if page.pages|length <= 0 and page.sections|length <= 0  and page != rootPage %}
                <div class="dropdown-divider"></div>
                <div class="dropdown-item -action" data-action="delete" data-id="{{ page.id }}">
                  <span class="material-icons">delete</span> Delete
                </div>
              {% endif %}
            </div>
          </div>

          <div class="item-icon icon-main">
            <span class="material-icons">{{ iconMain }}</span>
          </div>

          <div class="item-badge">
            ({{ page.id }})
          </div>

          <a href="#" class="item-title" target="mainIframe">{{ page.name }}</a>

        </div>

        {% if page.pages|length > 0 %}
        <div class="item-content collapse" id="collapseWeb{{ page.id }}" data-parent="#sidebarTreeWebsite{{ menu.id }}">
          {{ include('@backend/_theme/_function/website-tree.html.twig', {menu: page}) }}
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}